* {
  box-sizing: border-box;
}
.searchWrapper {
  // padding: 5px;
  width: 100%;

  background-color: white;
  text-align: right;
  position: fixed;
  .search {
    margin-right: 30px;
    height: 90px;
  }
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.list-container {
  .write {
    // background-color: yellow;
    position: fixed;
    bottom: 40px;
    right: 15%;
    transition: 1s;
    &.rotate {
      transform: rotate(360deg);
    }
    button {
      background-color: aqua;
      border-radius: 50%;
      border: none;
      outline: none;
      cursor: pointer;
      text-align: right;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      font: normal 50px "arial";
      transition: 0.6s;
      &:hover {
        background: darkcyan;
        color: white;
        transform: rotate(45deg);
      }
    }
  }

  .space {
    height: 100px;
    // background-color: green;
  }

  .list-wrapper {
    margin: 95px auto;
    width: 600px;

    .list-item {
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.1);
      &:nth-child(2n) {
        background-color: rgba(0, 0, 0, 0.2);
      }
      & {
        border-bottom: 1px solid black;
      }
      .item-textarea {
        display: flex;
        width: 100%;
        align-items: flex-start;
        .left {
          width: 30%;
        }
        .right {
          width: 70%;
          textarea {
            width: 100%;
            resize: none;
            height: 100px;
            border-radius: 8px;
          }
          .buttons {
            text-align: right;
            padding: 0 10px 10px 0;
          }
        }
      }
    }
    .imageFrame {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
    }
  }
}
.inputForm {
  position: fixed;
  width: 400px;
  transform: translateX(10%) translateY(-100%);
  background: white;

  opacity: 0;
  transition: 0.5s;
  &.open {
    transform: translateX(10%) translateY(22%);

    opacity: 1;
  }

  .btn {
    text-align: right;
    button[type="submit"] {
      border: none;
      cursor: pointer;
      padding: 0.5rem 1rem;
      margin-top: 1rem;
      border-radius: 4px;
      background-color: cyan;
      transition: 0.4s;
      &:hover {
        background-color: darkcyan;
      }
    }
  }
  .container {
    border: 1px solid green;
    // display: flex;
    // justify-content: space-around;
    // align-items: flex-start;
    .left {
      margin-bottom: 20px;
      font: normal 16px "arial";
      .name {
        select {
          border: none;
          outline: none;
          padding: 0.5rem;
        }
        input {
          padding: 0.3rem;
        }
        textarea {
          resize: none;
        }
      }
      .price {
        select {
          border: none;
          outline: none;
          padding: 0.5rem;
        }
        input {
          width: 100px;
        }
      }
    }
    .category {
      // padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: baseline;

      .departs {
        justify-content: space-around;
      }
    }
  }

  .images {
    width: 100%;
    text-align: left;
    label {
      display: inline-block;
      cursor: pointer;
      padding: 0.3rem;
      border-radius: 8px;
      background-color: yellowgreen;
    }
    input {
      display: none;
    }
    .imageFrame {
      width: 100%;
      min-height: 100px;
      border: 1px solid black;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}
.modalblock {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(171, 240, 171, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  .confirm {
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    .btns {
      margin-top: 10px;
      text-align: right;
      button {
        & {
          margin-left: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .inputForm {
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}
.viewerBlock {
  position: fixed;
  top: 30%;
  left: -70%;
  transform: translateX(-20%);
  width: 400px;
  border-radius: 8px;
  padding: 10px;
  opacity: 0;
  border: 1px solid black;
  background-color: white;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // opacity: 0;
  transition: 0.7s;
  &.toRight {
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
  }
  .image-area {
    display: flex;
    justify-content: center;
    .images {
      display: flex;
      justify-content: space-between;
      width: 250px;
      img {
        width: 80px;
      }
    }
  }

  .buttons {
    text-align: right;
  }
}
