* {
  box-sizing: border-box;
}
.searchWrapper {
  // padding: 5px;
  width: 100%;

  background-color: white;
  text-align: right;
  position: fixed;
  .search {
    margin-right: 30px;
    height: 90px;
  }
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.list-container {
  .write {
    // background-color: yellow;
    position: fixed;
    bottom: 40px;
    right: 15%;
    button {
      background-color: aqua;
      border-radius: 50%;
      border: none;
      outline: none;
      cursor: pointer;
      text-align: right;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      font: normal 40px "arial";
      transition: 1s;
      &:hover {
        background: darkcyan;
        color: white;
        transform: rotate(360deg);
      }
    }
  }

  .space {
    height: 100px;
    // background-color: green;
  }

  .list-wrapper {
    margin: 95px auto;
    width: 600px;

    .list-item {
      padding: 20px;
      &:nth-child(2n) {
        background-color: rgba(0, 0, 0, 0.2);
      }
      & {
        border-bottom: 1px solid black;
      }
      .item-textarea {
        display: flex;
        width: 100%;
        align-items: center;
        .left {
          width: 30%;
        }
        .right {
          width: 70%;
          textarea {
            width: 100%;
            resize: none;
            height: 100px;
            border-radius: 8px;
          }
        }
      }
    }
    .imageFrame {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
    }
  }
}

.inputForm {
  background: white;
  position: absolute;
  width: 400px;
  transform: translateX(10%) translateY(-50%);
  opacity: 0;
  transition: 0.5s;
  &.open {
    transform: translateX(10%) translateY(22%);
    opacity: 1;
  }

  .btn {
    text-align: right;
    button[type="submit"] {
      border: none;
      cursor: pointer;
      padding: 0.5rem 1rem;
      margin-top: 1rem;
      border-radius: 4px;
      background-color: cyan;
      transition: 0.4s;
      &:hover {
        background-color: darkcyan;
      }
    }
  }
  .container {
    border: 1px solid green;
    // display: flex;
    // justify-content: space-around;
    // align-items: flex-start;
    .left {
      margin-bottom: 20px;
      font: normal 16px "arial";
      .name {
        select {
          border: none;
          outline: none;
          padding: 0.5rem;
        }
        input {
          padding: 0.3rem;
        }
        textarea {
          resize: none;
        }
      }
      .price {
        select {
          border: none;
          outline: none;
          padding: 0.5rem;
        }
        input {
          width: 100px;
        }
      }
    }
    .category {
      // padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: baseline;

      .departs {
        justify-content: space-around;
      }
    }
  }

  .images {
    width: 100%;
    text-align: left;
    label {
      display: inline-block;
      cursor: pointer;
      padding: 0.3rem;
      border-radius: 8px;
      background-color: yellowgreen;
    }
    input {
      display: none;
    }
    .imageFrame {
      width: 100%;
      min-height: 100px;
      border: 1px solid black;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}
@media screen and (max-width: 768px) {
  .inputForm {
    margin-left: 50%;
    transform: translateX(-50%);
    left: auto;
  }
}
