.wraper {
  width: 80%;
  position: relative;
  right: 20px;
  .departs {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    // align-items: center;
    text-align: center;
    position: relative;
    .left {
      width: 40%;
      // background: yellow;
      input[type="checkbox"] {
        // position: absolute;
        width: 20px;
      }
      label {
        // margin: 0 10px;
        display: inline-block;
        width: 60px;
      }
      input[type="number"] {
        position: absolute;
        width: 50px;
        text-align: right;
      }
    }
    .right {
      margin-left: 30px;
      width: 50%;
      // background: green;
      input[type="checkbox"] {
        // position: absolute;
        width: 20px;
      }
      label {
        // margin: 0 10px;
        display: inline-block;
        width: 50px;
      }
      input[type="number"] {
        position: absolute;
        width: 50px;
        text-align: right;
      }
    }
  }
}
